# Generic
__pycache__

# Ignore everything ...
/*
# ... avoid `*`, it works recursively!
# ... except:

# Screenshots for release
!/.screenshots/

# Docs for release
!/.docs/

# Config for proxychains
!/.proxychains/

# Templates
!/Templates/

# Documentations
!/doc/

# Vim
!/.vim/autoload/

# Local share
!/.local/
/.local/*
!/.local/share/
/.local/share/*

# Nautilus scripts
!/.local/share/nautilus/
/.local/share/nautilus/*
!/.local/share/nautilus/scripts/

# Nautilus python extensions
!/.local/share/nautilus-python/

# Applications
!/.local/share/applications/
/.local/share/applications/*.cache
/.local/share/applications/chrome-*
/.local/share/applications/anbox/

## Configs
!/.config/
/.config/*

# Autostart
!/.config/autostart/

# Argos scripts
!/.config/argos/

# User systemd
!/.config/systemd/
/.config/systemd/user/*/

# User bin
!/bin/

# User apps
!/apps/
